.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  max-width: 1280px;
  width: 100%;
  padding: var(--spacing-xxl) var(--spacing-xl);
  box-sizing: border-box;
}

.intro-paragraph {
  margin-bottom: var(--spacing-xxl);
}

@media (max-width: 768px) {
  .main-content {
    padding: var(--spacing-xl) var(--spacing-m);
  }
}
